astroid==2.2.5
asyncio==3.4.3
autopep8==1.4.4
certifi==2019.3.9
chardet==3.0.4
Click==7.0
coverage==4.5.3
Flask==1.0.2
Flask-Sockets==0.2.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==19.9.0
idna==2.8
ifaddr==0.1.6
ipaddress==1.0.22
isort==4.3.17
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.3.1
MarkupSafe==1.1.1
mccabe==0.6.1
pycodestyle==2.5.0
pylint==2.3.1
python-engineio==3.5.1
python-socketio==4.0.0
requests==2.21.0
rope==0.14.0
six==1.12.0
typed-ast==1.3.1
urllib3==1.24.2
uuid==1.30
websockets==7.0
Werkzeug==0.15.2
wiringpi==2.46.0
wrapt==1.11.1
zeroconf==0.21.3
